:root{
    --light: #f1faee;
    --light-blue: #a8dadc;
    --medium-blue: #457b9d;
    --dark-blue: #1d3557;
    --red: #e63946;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: var(--light);
}
header{
    background-color: var(--dark-blue);
    display:flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    text-shadow: 1px 1px 0 var(--dark-blue);
    padding: 10px;
}
h1{
    color: var(--light);
    background-color: var(--medium-blue);
    padding: 8px;
    margin-left: 10px;
    font-size: 200%;
}
header nav ul{
    display:flex;
    flex-wrap: wrap;
}
header nav li{
    margin: 7px;
    text-shadow: 1px 1px 0 var(--medium-blue);
    color: var(--light);
    text-align: center;
}
a{
    all:unset;
    display: flex;
}
a:focus{
    border: dashed;
    border-width: 1px;
    border-color: var(--red);
}
nav a:hover{
    cursor:pointer;
    text-decoration: underline var(--red);
    font-size: 99%;

}
.under-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--dark-blue);
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--medium-blue) 100%);
}
.under-header img{
    margin: 10px;
    border:solid;
    border-width: 4px;
    border-color: var(--medium-blue);
    height: 100px;
}
h2{
    display: flex;
    width:25%;
    flex:1 75px;
    font-size: 200%;
    border-right:3px solid var(--dark-blue);
    justify-content: flex-end;
    padding: 0px 8px;
    color: var(--dark-blue);
    text-shadow: 1px 1px 0 var(--medium-blue);
    align-items:flex-start;
    text-align: right;
}
#about-me{
    display:flex;
    justify-content: center;  
}
#about-me p{
    height: 100px;
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
#work{
    display:flex;
    justify-content: center;
    margin: 15px 0;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    width: 75%;
}

.card{
    flex: 1 300px;
    background-image: url(https://www.publicdomainpictures.net/pictures/380000/t2/buchstaben-201103.jpg);
    background-size:cover;
    background-position: center;
    height: 100px;
    margin: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--medium-blue);
}
#card-one{
    width: 100%;
    flex-basis: 100%;
    height: 200px;
    background-image: url(https://www.publicdomainpictures.net/pictures/380000/t2/buchstaben-201103.jpg);
    background-size:cover;
    background-position: center;
}
.card:hover{
    .card-header, .card-description{
        color: var(--light-blue);
        background-color: var(--dark-blue);
    }
}
.card-header, .card-description{
    color: var(--dark-blue);
    background-color: var(--light-blue);
    position: relative;
    width: 25%;
    border-right:solid;
    border-color: var(--medium-blue);
    border-right-width: 4px;
}
.card-description{
    border-bottom: solid;
    border-color:var(--medium-blue);
    border-bottom-width: 4px;
    border-top: dashed;
    border-top-width: 1px;
}
#contact{
    display:flex;
    justify-content: center;
}
#contact ul{
    display: flex;
    width:75%;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}
#contact li{
    margin: 10px 35px;
    color: var(--dark-blue);
}
#contact li a:hover{
    cursor:pointer;
    text-decoration: underline var(--red);
    font-size: 99%;
}
@media screen and (max-width: 600px){
    header nav ul {
        justify-content: space-around;
    }
    .card-header, .card-description{
        width: 100%;
        border-right: 0;
    }
    #about-me p{
        height: fit-content;
        min-width: none;
    }
    #contact ul{
        flex-direction: column;
        align-items: center;
    }
    h2{
        min-width: 145px;
    }
   
}
/* to-do:  
1. make text shrink into each box
2. make the boxes for each project links
3. Add media queries 
4. Add content- picture, about me paragraph, quote
5. minor details with :hover, try to make the text becoming smaller not change the spacing, hover over boxes makes them do stuff*/
