:root {
    --light: #f1faee;
    --light-blue: #a8dadc;
    --medium-blue: #457b9d;
    --dark-blue: #1d3557;
    --red: #e63946;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: var(--light);
    line-height: 1.5;
}

/* Header, nav, h1 styling */
header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    text-shadow: 1px 1px 0 var(--dark-blue);
    padding: 10px;
}

h1 {
    color: var(--light);
    background-color: var(--medium-blue);
    padding: 8px;
    margin-left: 10px;
    font-size: 200%;
    border-radius: 2px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
}

header nav li {
    display:flex;
    justify-content:center;
    margin: 7px;
    text-shadow: 1px 1px 0 var(--medium-blue);
    color: var(--light);
    text-align: center;
    width: 70px;
}

/* Links-reset all styling, add hover-underline and click animation */
a {
    all: unset;
    display: flex;
}

a:focus {
    border: dashed;
    border-width: 1px;
    border-color: var(--red);
}

a:hover {
    cursor: pointer;
    text-decoration: underline var(--red);
    font-size: 95%;

}

/* Under header bar with profile picture and blurb */
.under-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-blue);
    background: linear-gradient(90deg, var(--light-blue) 0%, var(--medium-blue) 100%);
}

.under-header img {
    margin: 10px;
    border: solid;
    border-width: 4px;
    border-color: var(--medium-blue);
    border-radius: 2px;
    height: 100px;
}

.under-header p {
    margin-right: 25px;
    padding: 10px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: solid;
    border-width: 4px;
    border-color: var(--medium-blue);
    border-radius: 2px;
    text-align: center;
}

/* All section headers on left side of page with same styling */
h2 {
    display: flex;
    width: 25%;
    flex: 1 75px;
    font-size: 200%;
    border-right: 3px solid var(--dark-blue);
    justify-content: flex-end;
    padding: 0px 8px;
    color: var(--dark-blue);
    text-shadow: 1px 1px 0 var(--medium-blue);
    align-items: flex-start;
    text-align: right;
}

/* About me section- h2 and paragraph */
#about-me {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#about-me p {
    height: 100px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

/* Work section- h2 and 5 cards for project links */
#work {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.card-container a {
    display: block;
    height: 100%;
}

/* Inside card styling */
.card {
    flex: 1 300px;
    background-image: url(https://www.publicdomainpictures.net/pictures/380000/t2/buchstaben-201103.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 10px;
    border: solid;
    border-width: 3px;
    border-color: var(--medium-blue);
    border-radius: 2px;
}

#card-one {
    width: 100%;
    flex-basis: 100%;
    height: 400px;
    background-image: url('https://tinyurl.com/5estdzkj');
    background-size: 100% 75%;
    background-position: center;
}
#card-two{
    background-image: url("https://github.com/kevinatwood/weather-dashboard/blob/main/assets/images/weather-dashboard-demo.gif?raw=true");
    background-size: 100% 75%;
    background-position: center;
}

#card-three{
    background-image: url("https://github.com/kevinatwood/workday-scheduler/blob/main/assets/chrome-capture-2023-6-18.gif?raw=true");
    background-size: 100% 75%;
    background-position: center;
}
#card-four{
    background-image: url("https://github.com/kevinatwood/timed-quiz/raw/main/assets/images/Timed%20Quiz%20gif.gif");
    background-size: 100% 75%;
    background-position:bottom;
}

.card:hover {

    .card-header,
    .card-description {
        color: var(--light-blue);
        background-color: var(--dark-blue);
    }
}

.card-header,
.card-description {
    color: var(--dark-blue);
    background-color: var(--light-blue);
    position: relative;
    width: 100%;
    border-right: solid;
    border-color: var(--medium-blue);
    border-right-width: 4px;
}

.card-description {
    border-bottom: solid;
    border-color: var(--medium-blue);
    border-bottom-width: 4px;
    border-top: dashed;
    border-top-width: 1px;
}

/*Contact section- h2 and 3 links. Icons hidden */
#contact {
    display: flex;
    justify-content: center;
}

#contact ul {
    display: flex;
    width: 75%;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

#contact li {
    margin: 10px 30px;
    color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.contact-icon {
    display: none;
}

/* Narrow px styling */
@media screen and (max-width: 705px) {
    header {
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }

    header nav ul {
        justify-content: space-around;
    }

    h2 {
        min-width: 145px;
    }

    .card-header,
    .card-description {
        width: 100%;
        border-right: 0;
    }

    #about-me p {
        height: fit-content;
        min-width: none;
    }

    #contact ul {
        flex-direction: column;
        align-items: center;
    }

    #contact li{
        width: 100%;
        margin-left: 0px;
        margin-right:0px;
    }

    #contact img{
        height: 24px;
        width:24px;
    }

    .contact-text {
        display: none;
    }

    .contact-icon {
        display: flex;
        height: 24px;
    }
    #card-one{
        height: 300px;
    }

}

/* to-do:  
1. add content- picture, about me paragraph, quote, challenge 1, pre work, class activity